<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>403 - Forbidden</title>
    <link
      rel="stylesheet"
      href="/src/main/resources/static/PageFault/PageFault.css"
    />
  </head>
  <body>
    <div class="container">
      <img
        src="/src/main/resources/static/PageFault/403.png"
        alt="403 Forbidden"
        class="illustration"
      />
      <h1>403</h1>
      <p>You don't have permission to access this resource!</p>
      <div class="actions">
        <a href="/src/main/resources/templates/Home/Home.html" class="btn"
          >🏠Về trang chủ</a
        >
        <button onclick="history.back()" class="btn btn-outline">
          🔙Quay lại
        </button>
      </div>
    </div>
    <div class="dog">
      <img
        src="/src/main/resources/static/PageFault/dog.gif"
        alt="Dog running"
      />
    </div>
  </body>
</html>
